body {
  font-family: Arial, sans-serif;
  background-color: hsl(210, 50%, 95%);
  margin: 0;
  padding: 0;
}

.profile {
  background-color: rgba(100, 150, 250, 0.2);
  width: 80%;
  margin: 2vh auto;
  padding: 2rem;
  border: 2px solid #333;
}

.profile__image {
  width: 150px;
  border: 0.1in solid #ff5722;
}

.profile__name {
  color: rgb(50, 50, 150);
  font-size: 2rem;
}

.profile__description {
  color: #555;
  font-size: 1.2em;
}

.profile__social-list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.profile__social-item {
  display: inline-block;
  margin-right: 10px;
  color: hsl(0, 70%, 40%);
  border: 2px solid hsla(0, 70%, 40%, 0.7);
  padding: 5px 10px;
}

.box-wrapper {
  width: 90%;
  margin: 3vh auto;
  border: 4px dashed #008080;
}

.box-model {
  border: 3px solid #ffa500;
  padding: 20px;
  margin: 15px;
  background-color: rgba(255, 255, 0, 0.3);
}

.profile {
  min-height: 50vh;
}
/*
    display: block;
    елемент займає всю доступну ширину контейнера, починається з нового рядка. 
    Можна задавати ширину, висоту, margin, padding.

    display: inline;
    елемент займає тільки необхідну ширину не починає новий рядок.
    Неможливо задавати ширину та висоту але можна керувати горизонтальними відступами.
*/
